<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:replace="fragments::navbar"></p>

  <form method="post">
    <input type="text" th:field="${blog.title}" />
      <p th:errors="${blog.title}"></p>
      <br/>
      <textarea th:field="${blog.content}" rows="10" cols="50" ></textarea>
      <p th:errors="${blog.content}"></p>
      <select th:field="${blog.emotion}">
          <option th:each="emotion: ${emotions}" th:value="${emotion}" th:text="${emotion}"></option>
      </select>
      <select th:field="${blog.user}">
          <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.username}"></option>
      </select>
      <button type="submit">Submit</button>
  </form>
</body>
</html>